@{
    Layout = "_Layout";
}

<li class="nav-item">
    <a class="nav-link text-dark" asp-area="" asp-controller="Products" asp-action="Index">Productos</a>
</li>
<li class="nav-item">
    <a class="nav-link text-dark" asp-area="" asp-controller="MercadoLibre" asp-action="Status">Mercado Libre</a>
</li>